.venv/
CR2_EmotionsFaciales.pdf
generate_cr2.py

data/ferplus/
data/rafdb/
data/rafdb_processed/
data/ferplus_processed/

CR3_EmotionsFaciales.pdf
CR4_EmotionsFaciales.pdf
__pycache__/
generate_cr3.py
generate_cr4.py
generate_final.py
CR4+5_EmotionsFaciales.pdf
Rapport_final_EmotionsFaciales.pdf
train_kaggle.ipynb
train.py